main #lado_izquierdo{
background-color: blue;
float: left; /*Para que se vaya hacia la izquierda*/
width: 50%;

}


main #lado_derecho{
    background-color: aqua;
    width: 50%;
    float: right; /*pARA QUE SE VAYA A LA DERECHA*/
}



main{
    display: flex; /*Convierto el elemento main en un contenedor "flexible" para que los hijos del main (lo que se introduce dentro del main) se alineen de manera horizontal en una fila y no afecte al pie de pagina (footer)*/
}

#footer {
    width: 100%;
}

header{
    background-color: #000;
    width: auto;
    height: auto;
    display: flex; /*Alinear de forma horizontal a los hijos*/
    align-items: center; /*Para que el texto este centrado*/
    margin-bottom: 5px;
}

nav {
    margin-left: 10px; /* Espacio entre la imagen y el texto */
}

header nav a{
    color: #AAA;
    margin: 2px;
}

header nav a.activo{ /*Para la clase activo*/
    color: #fff;
}


a{
    text-decoration: none; /*Quitar el subrayado de los enlaces*/
    margin-top: 2px;
    margin-bottom: 2px;
}

header nav a:hover{
    color: red;
    transition: .3s ease all;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    

}

img{
    width: 65px; /* ajusta según tus necesidades */
    height: auto; /* mantiene la relación de aspecto de la imagen */
}


    
h2{
    text-align: center;
}


#video1{
    width: auto;
    height: 50%;
    display: block;
}

h3{
    top: 10px;
    position: relative;
    text-align: center;
}


ul{
    bottom: 10px;
    position: relative;
}

p{
    text-align: justify;
}

video{
    margin-left: auto;
    margin-right: auto;
    display: block;
}